## Pybank Assignment

In [ ]:
#The total number of months included in the dataset.
#The net total amount of Profit/Losses over the entire period.
#The average of the changes in Profit/Losses over the entire period.
#The greatest increase in profits (date and amount) over the entire period.
#The greatest decrease in losses (date and amount) over the entire period.

#df['Profit/Losses']

In [12]:
import pandas as pd
import numpy as np
data = pd.read_csv('budget_data.csv')
data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [32]:
print(data.shape)

(86, 2)

In [66]:
# Get total all values in column 'Profit/Losses' of the DataFrame
total_PnL = df['Profit/Losses'].sum()
print(f'The Total Profit and Loss for the timeframe is {Total_pnl})

SyntaxError: EOL while scanning string literal (Temp/ipykernel_8852/1279736515.py, line 3)